:root{
	--cinza-escuro: #3e484f;
	--verde:  #5CE68F;
	--cinza: #ebebeb;
	--cinza-claro: #f1ecec;
	--cimento: #35566B;
	--verde-agua: #3AAB9C;
}

body
{
	background: var(--cinza-claro);
}

.content
{
	width: 80%;
	margin: 5rem auto;
	background: var(--verde);
	padding: 2rem;
}

.txtProduto
{
	display: block;
	width: 90%;
	background: transparent;
	border: none;
	border-bottom: 1px solid black;
	outline: none;
	font-size: 1.2rem;
	padding-left: 1rem;
}

.txtQuantidade
{
	background: transparent;
	border: none;
	border-bottom: 1px solid black;
	outline: none;
	font-size: 1.2rem;
	padding-left: 1rem;
	width: 10rem;
}

.config
{
	margin: 1rem auto 1rem;
	display: flex;
	justify-content: space-evenly;
}

button
{
	border: none;
	background: var(--verde-agua);
	padding: 0.5rem 1rem;
	border-radius: 0.5rem;
}

.movimentacao
{
	background: transparent;
	border: none;
	border-bottom: 1px solid black;
	outline: none;
	font-size: 1.2rem;
	padding-left: 1rem;
	width: 10rem;
}

.tabelaItens
{
	width: 100%;
	overflow-y: auto;
	margin-top: 2rem;
}

.linhaTable:nth-child(odd)
{
	background: var(--verde-agua);
}

.linhaTable
{
	width: 100rem;
}

.linhaTable td
{
	border: 1px solid var(--cinza-claro);
	padding-left: 1rem;
	padding: 0.5rem 1rem;
}

.linhaTable:hover{
	background: var(--cinza-escuro);
	color: white;
}

#subir
{
	position: fixed;
	right: 5rem;
	bottom: 2rem;
}